* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #525252;
}

nav {
    padding: 30px;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 7rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

nav ul li a:hover {
    color: antiquewhite;
}



.transition {
    padding: 10px;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 25px;
    transition:  0.5s;
    filter: drop-shadow(2px 2px 40px white);
    

}

.pembungkus {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background: linear-gradient(to top,#000,#525252);
  
}

.transition:hover {
    background-color: yellow;
}

.transition a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    
}

.transition-delay {
    background-color: #000;
    padding: 40px 0px 40px 0px;
    justify-content: center;
    display: flex;
}

.img-trs img {
       background-color: antiquewhite;
       border-radius: 30px;
       width: 350px;
       height: 350px;
       object-fit: contain;
       box-shadow: 3px 5px 30px #ffff;
       transition: width 0.5s, height 1s;
       

}
    
.img-trs img:hover {
    width: 400px;
    height: 400px;
}
